extends layout

block content
    .container
        .row
            .span12
                h1 Hatena::Bookmark trends
        .row
            .span12
                label
                    input#tags(type="text", name="targets", size=50, placeholder="perl,ruby,python")
        .row
            .span12
                div#graph
        .row
            .span12
                ul#entries

    script(type="text/template", id="entries-item-template")
        | <div class="entries-item-title">
        |    <a href="<%- url %>" target="_blank"> <%- title %> </a>
        | </div>
        | <div class="entries-item-bookmarkcount"><%- bookmarkCount %> Users </div>
        | <div class="entries-item-description">
        |     <%- description %>
        | </div>
